################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/webradio.metadata.v9.bin
/.vs/ProjectEvaluation/webradio.projects.v9.bin
/.vs/ProjectEvaluation/webradio.strings.v9.bin
/.vs/WebRadio/CopilotIndices/17.13.444.19527/SemanticSymbols.db
*.db-shm
*.db-wal
/.vs/WebRadio/DesignTimeBuild/.dtbcache.v2
/.vs/WebRadio/FileContentIndex/71482573-1fed-4f33-92d6-fa5a95beaadd.vsidx
/.vs/WebRadio/FileContentIndex/77adfe45-9373-4d46-879e-e7b8730c565b.vsidx
/.vs/WebRadio/FileContentIndex/afdd31ac-3580-4d10-8611-41c26f55aae3.vsidx
/.vs/WebRadio/FileContentIndex/cd956bbc-9df7-4f46-8286-f0efb5d5ab70.vsidx
/.vs/WebRadio/FileContentIndex/d8ea5cd3-c343-4ab5-a2e2-3c09f81b922f.vsidx
/.vs/WebRadio/v17/.futdcache.v2
/.vs/WebRadio/v17/.suo
/.vs/WebRadio/v17/DocumentLayout.backup.json
/.vs/WebRadio/v17/DocumentLayout.json
/RadioPlayer.WebRadio/bin/Debug/net8.0-windows/RadioPlayer.WebRadio.dll
/RadioPlayer.WebRadio/bin/Debug/net8.0-windows/RadioPlayer.WebRadio.exe
/RadioPlayer.WebRadio/bin/Debug/net8.0-windows/RadioPlayer.WebRadio.pdb
/RadioPlayer.WebRadio/bin/Debug/net8.0-windows/RadioStream.Core.dll
/RadioPlayer.WebRadio/bin/Debug/net8.0-windows/RadioStream.Core.pdb
/RadioPlayer.WebRadio/obj/Debug/net8.0-windows/ref/RadioPlayer.WebRadio.dll
/RadioPlayer.WebRadio/obj/Debug/net8.0-windows/refint/RadioPlayer.WebRadio.dll
/RadioStream.Core/bin/Debug/net8.0-windows/RadioStream.Core.dll
/RadioStream.Core/bin/Debug/net8.0-windows/RadioStream.Core.pdb
*.dll
/webradio-ndukan/RadioPlayer.lnk
/webradio-ndukan/RadioPlayer.WebRadio.deps.json
/webradio-ndukan/RadioPlayer.WebRadio.exe
/webradio-ndukan/RadioPlayer.WebRadio.pdb
/webradio-ndukan/RadioPlayer.WebRadio.runtimeconfig.json
/webradio-ndukan/RadioStream.Core.pdb
/RadioStream.Core/obj/project.assets.json
/RadioStream.Core/obj/project.nuget.cache
/.vs/WebRadio/FileContentIndex/05519ca7-c613-410a-b980-b20bb39aa7af.vsidx
/.vs/WebRadio/FileContentIndex/5861b27f-aea2-4c4a-a2dc-dee0eb746ff9.vsidx
/.vs/WebRadio/FileContentIndex/c43821ae-8a82-4e85-94dd-92e1a551591a.vsidx
/.vs/*
/RadioPlayer.WebRadio/obj/Debug/net8.0-windows/*
/RadioPlayer.WebRadio/obj/*
*.json
/RadioStream.Core/obj/Debug/net8.0-windows/*
/RadioStream.Core/obj/Release/net8.0-windows/RadioStream.Core.AssemblyInfoInputs.cache
/RadioStream.Core/obj/Release/net8.0-windows/RadioStream.Core.assets.cache
/RadioStream.Core/obj/Release/net8.0-windows/RadioStream.Core.csproj.AssemblyReference.cache
/RadioStream.Core/obj/Release/net8.0-windows/RadioStream.Core.GeneratedMSBuildEditorConfig.editorconfig
/RadioStream.Core/obj/Release/*
/RadioStream.Core/obj
